# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
.vscode

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

wavesurfer.js-7.6.1
vue-element-plus-admin
audio_analysis/index.html
audio_analysis/jsconfig.json
audio_analysis/package-lock.json
audio_analysis/package.json
audio_analysis/tsconfig.json
audio_analysis/vite.config.js
audio_analysis/public/example-normal.wav
audio_analysis/public/example.mp3
audio_analysis/public/favicon.ico
audio_analysis/src/App.vue
audio_analysis/src/main.js
audio_analysis/src/assets/base.css
audio_analysis/src/assets/logo.svg
audio_analysis/src/assets/main.css
audio_analysis/src/components/analysis/fft-test.vue
audio_analysis/src/components/analysis/FFTTransfer.vue
audio_analysis/src/components/analysis/Options.vue
audio_analysis/src/components/other/HelloWorld.vue
audio_analysis/src/router/index.js
audio_analysis/src/views/AboutView.vue
audio_analysis/src/views/Analysis.vue
audio_analysis/src/views/HomeView.vue
audio_analysis/src/waveform/base-plugin.ts
audio_analysis/src/waveform/decoder.ts
audio_analysis/src/waveform/dom.ts
audio_analysis/src/waveform/draggable.ts
audio_analysis/src/waveform/event-emitter.ts
audio_analysis/src/waveform/fetcher.ts
audio_analysis/src/waveform/player.ts
audio_analysis/src/waveform/renderer.ts
audio_analysis/src/waveform/timer.ts
audio_analysis/src/waveform/waveform.ts
audio_analysis/src/waveform/webaudio.ts
audio_analysis/src/waveform/plugins/spectrogram.ts
